<link href="https: //fonts.googleapis.com/css2?family= Poppins :ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800 & display = trocar" rel="folha de estilo">


h1{
  text-align: center;
  font-family:source sans pro,sans-serif;
  font-size: 50px;
  font-weight: 150;
  margin-top: 75%;
  left: 150px;
}
h2{
  text-align: center;
  font-family:sans-serif;
  font-size: 25px;
  margin-top: 7%;
  font-weight: 500;
  left: 150px;
}


.button{
  background-color:#012548;
  margin: 0 auto;
  color:white;
  margin-top: 1%;
}

.square {
    width: 250px;
    height: 180px;
    background-color:#012548;
    margin-top: 5%;
    text-align: center;
    line-height: 100px;
    margin: 50px;
    display: inline-block;
    color: white;
    border-radius: 15%;
    font-family:sans-serif;
  }
  .square:hover{
    opacity: 0.9;
    transition: left 0.15s ease-in-out;
    box-shadow: 0 0 10px black;
    background-color: WHITE;
    color:#012548;
    opacity: 0.2;
  }
