section.slider{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0 ;
    background-color: #012548;
    overflow: hidden;
}
.slider-content{
    width: 400%;
    height:600px;
    display: flex;
    margin: 0 auto;
    padding: 0 ;
    background-color:#012548;
    overflow: hidden;

}
.slider-content input, .img-mobile{
    display: none;
}
.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 3s;
}
.slide-box img{
    width: 100%;
    height: 80%;
    margin-top: 100px;
}
.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 49%;
    display: flex;
    justify-content: center;
}
.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.6s;
}
.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}
.nav-manual .manual-btn:hover{
    background-color:white;
}


#radio1:checked ~ .nav-auto .auto-btn1, .nav-auto .auto-btn2, .nav-auto .auto-btn3, .nav-auto .auto-btn3{
    background-color: #012548;

}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}
#radio2:checked ~ .primeiro{
    margin-left: -25%;
}
#radio3:checked ~ .primeiro{
    margin-left: -50%;
}
#radio4:checked ~ .primeiro{
    margin-left: -75%;
}
@media screen and(max-width 900px){
    .img-desktop{
        display: none;
    }
    .img.mobile{
        display: block;
    }
    .nav-manual .manual-btn, .nav-auto div{

        padding: 10px;
        
    }
}


